.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 400;
}

.nav-item {
  margin: 0 11px;
  font-size: 16px;
  padding: 4px 0px;
}

@media (min-width: 824px) {
  .nav-item {
    margin: 0 11px;
    font-size: 19px;
    padding: 5px 4px;
  }
}

@media (min-width: 576px) {
  #top {
    padding-top: 56px;
    position: relative;
    height: 100vh !important;
    background-color: rgba(68, 68, 68, 0.075);
    text-align: center;
  }
}

#top {
  padding-top: 56px;
  position: relative;
  height: 72vh;
  background-color: rgba(68, 68, 68, 0.075);
  text-align: center;
}

@media (min-width: 576px) {
  #top::before {
    background-attachment: fixed;
    background-image: url("../../assets/img/t5.jpeg");
    opacity: 0.6;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-size: 100% 100vh !important;
  }
}

#top::before {
  background-attachment: fixed;
  background-image: url("../../assets/img/t5.jpeg");
  opacity: 0.6;
  content: '';
  display: block;
  height: 86%;
  position: absolute;
  z-index: -1;
  width: 100%;
  background-size: 100% 71vh;
}

#mth {
  color: #dddfd5;
  margin-top: 100px;
  font-size: 41px;
  font-weight: bold;
  text-shadow: 2px 1px black;
}

@media (min-width: 576px) {
  #mth {
    color: #dddfd5;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 1px black;
  }
}

@media (min-width: 660px) {
  #mth {
    color: #dddfd5;
    margin-top: 130px;
    font-size: 65px;
    font-weight: bold;
    text-shadow: 4px 1px black;
  }
}

@media (min-width: 768px) {
  #sub-title {
    color: rgb(251,255,234);
    font-size: 34px;
    text-shadow: 2px 2px black;
  }
}

#sub-title {
  color: rgb(251,255,234);
  font-size: 20px;
  text-shadow: 2px 1px black;
}

@media (min-width: 576px) {
  #sub-title {
    color: rgb(251,255,234);
    font-size: 32px;
    text-shadow: 2px 1px black;
  }
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(173,168,168);
}

.navbar.navbar-dark.navbar-expand-md.fixed-top {
  background-color: rgb(34,34,34);
}

#about-head {
  padding-top: 45px;
  font-size: 31px;
}

@media (min-width: 576px) {
  #about-head {
    padding-top: 55px;
    font-size: 36px;
  }
}

#horizontal-1 {
  height: 2.5px;
  background-color: white;
  width: 83%;
  margin: 22px auto;
}

#horizontal-1 {
  height: 2.5px;
  background-color: white;
  width: 83%;
  margin: 22px auto;
}

#horizontal {
  height: 2.5px;
  background-color: white;
  width: 83%;
  margin: 22px auto;
}

#about-container {
  background-color: black;
}

@media (min-width: 576px) {
  #about-content {
    color: white;
    width: 100%;
    font-size: 16px !important;
  }
}

#about-content {
  color: white;
  width: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  .services {
    color: white;
    font-size: 32px !important;
  }
}

.services {
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  #img-1 {
    margin-right: 10px;
    width: 53%;
    max-width: 450px;
    /*height: 48vh;*/
  }
}

@media (min-width: 576px) {
  #img-1 {
    margin-right: 10px;
    width: 100%;
    /*max-width: 450px;*/
    margin-bottom: 10px;
  }
}

#img-1 {
  margin-right: 10px;
  width: 100%;
  /*max-width: 450px;*/
  height: 210px;
  margin-bottom: 10px;
}

#about-container {
  width: 100% !important;
}

@media (min-width: 992px) {
  #services {
    margin-top: 130px;
  }
}

@media (min-width: 768px) {
  #services {
    margin-top: 105px;
  }
}

#services {
  margin-top: 60px;
}

@media (min-width: 768px) {
  #service-head {
    font-size: 40px !important;
  }
}

#service-head {
  font-size: 33px;
}

@media (min-width: 768px) {
  #service-para {
    font-size: 16px !important;
  }
}

#service-para {
  font-size: 15px;
}

@media (min-width: 600px) {
  .s-para {
    margin-top: 20px;
    font-size: 16px !important;
    width: 55% !important;
    float: right;
  }
}

.s-para {
  margin: 20px auto;
  margin-left: 50px;
  width: 60%;
  font-size: 13px;
  min-width: 173px;
}

#soups {
}

@media (min-width: 576px) {
  .menu-item {
    color: white;
    list-style-type: none;
    font-size: 16px !important;
    margin-top: 10px;
  }
}

.menu-item {
  color: white;
  list-style-type: none;
  font-size: 14px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .menu-img {
    width: 210px !important;
    height: 65px !important;
    margin-left: 18px;
  }
}

.menu-img {
  width: 105px;
  height: 33px;
  margin-left: 20px;
}

@media (min-width: 576px) {
  #Menu-head-1 {
    font-size: 45px !important;
  }
}

#Menu-head-1 {
  font-size: 31px;
}

@media (min-width: 576px) {
  #starters-icon {
    width: 272px !important;
    height: 73px;
  }
}

#starters-icon {
  width: 149px;
  height: 42px;
}

@media (min-width: 576px) {
  #chaupati-icon {
    width: 315px !important;
    height: 81px !important;
  }
}

#chaupati-icon {
  width: 220px;
  height: 54px;
}

@media (min-width: 576px) {
  #dhaba-icon {
    width: 300px !important;
  }
}

#dhaba-icon {
  width: 181px;
}

@media (min-width: 576px) {
  #paneer-icon {
    width: 300px !important;
  }
}

#paneer-icon {
  width: 190px;
}

@media (min-width: 576px) {
  #veg-curry {
    width: 345px !important;
  }
}

#veg-curry {
  width: 211px;
}

@media (min-width: 576px) {
  #veg-dry {
    width: 340px !important;
  }
}

#veg-dry {
  width: 196px;
}

#roti-icon {
}

@media (min-width: 576px) {
  #yogurt-icon {
    width: 300px !important;
  }
}

#yogurt-icon {
  width: 162px;
}

@media (min-width: 574px) {
  #desert-icon {
    width: 300px !important;
  }
}

#desert-icon {
  width: 149px;
}

@media (min-width: 576px) {
  #kids-icon {
    width: 300px !important;
  }
}

#kids-icon {
  width: 155px;
}

#service-list, #service-list-2 {
  margin: 10px auto;
  width: 265px;
}

#Menu {
  margin-top: 60px;
}

#photo-gallery {
  margin: 100px;
}

.gallery {
  margin: 60px;
}

@media (min-width: 992px) {
  #carousel-1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 200px;
    width: 78% !important;
    height: 84vh !important;
  }
}

#carousel-1 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 200px;
  width: 100%;
  height: 46vh;
}

@media (min-width: 768px) {
  #carousel-1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 200px;
    width: 87%;
    height: 63vh;
  }
}

@media (min-width: 650px) {
  #gallery-head {
    font-size: 48px !important;
  }
}

#gallery-head {
  font-size: 36px;
}

.nav-item {
  font-size: 16px;
}

#details {
  margin-top: 20px;
}

